@import url('https://fonts.googleapis.com/css2?family=Inter+Tight:ital,wght@0,100..900;1,100..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');


@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
  --primary-animation-color: black;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
  color: var(--foreground);
  /* background: var(--background); */
  background-color: #87ceeb; /* LightSkyBlue */
  /* font-family: Arial, Helvetica, sans-serif; */
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.page-button button {
  text-align: center;
  color: white;
  font-family: 'Inter Tight';
  font-size: 20px;
  font-weight: 500;
  height: auto;
  padding: 8px 16px;
  border: none;
  border-radius: 0;
  box-shadow: none;
  background-color: #848eeb;
  cursor: pointer;
  margin: 5px 10px;
  transition: all 0.2s ease;
}

.page-button button:hover {
  background-color: #00008b;
}


.login {
  display: flex;
  width: 85%;
  margin: 0 auto;
  padding: 50px;
}

.login-left-pane {
  background-color: aquamarine;
  width: 50%;
  /* padding: 0 50px; */
  /* border: 3cap solid transparent; */
  animation: border-animation 2s infinite;
}

.login-right-pane {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  width: 50%;
  padding: 0 50px;
}

.login h1 {
  font-family: 'Playfair Display';
  font-weight: 500;
  font-size: 3rem;
  margin-bottom: 5px;
}

.login form {
  display: block;
}

.username-label, .password-label {
  font-family: 'Inter Tight';
  font-size: 1.3rem;
  position:absolute;
  padding: 5px 0;
  transform: translateY(-55px);
  transition: all 0.2s ease-in-out;
}

.login input {
  background-color: transparent;
  display: block;
  font-family: 'Inter Tight';
  font-size: large;
  width: 100%;
  padding:0 0 5px 0;
  margin: 0 0 20px 0;
  border: 2px solid transparent;
  border-radius: 2px;
  border-bottom-color: black;
  transition: all 0.2s ease-in-out;
}

.login input:focus {
  border-bottom-color: #6c74d8; /* DarkBlue */
  outline: none; /* Added to remove the default blue border */
}

.username-input:focus + .username-label, .password-input:focus + .password-label{
  
  transform: translateY(-75px);
  color: #6c74d8; /* DodgerBlue */
  font-size: 1rem;
}

.username-label-focus, .password-label-focus {
  
  font-family: 'Inter Tight';
  font-size: 1.3rem;
  position:absolute;
  padding: 5px 0;
  transform: translateY(-75px);
  color: #6c74d8; /* DodgerBlue */
  font-size: 1rem;
}


.login button {
  font-size: 1.5rem;
  height: auto;
  width: 100%;
}

.login-button-container {
  width: 100%;
  display: flex;
  justify-content: end;
  gap: 10px; /* Adjust the value as needed for desired spacing */
}

@keyframes border-animation {
  0% {
    border-bottom-color: var(--primary-animation-color);
  }
  25% {
    border-left-color: var(--primary-animation-color);
  }
  50% {
    border-top-color: var(--primary-animation-color);
  }
  75% {
    border-right-color: var(--primary-animation-color);
  }
  100% {
    border-bottom-color: var(--primary-animation-color);
  }
}